<!DOCTYPE HTML>
<html>
    <head>
        <title>Book Finder</title>
    </head>
    
    <body>
        <h1>Book Finder</h1>
        <h2><%= genre %></h2>
        <p>HELLOOOOOOOOOOOOOOOOOO, you chose the genre <%= genre %></p>
        <input type="text" placeholder="Enter a book genre"/>
    </body>
</html>